<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="team15.pos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomerManagementActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".CustomerSignupActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".CustomerSearchActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ProductAddActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ProductSearchActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ProductSearchItem"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".PaymentManageActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".PaymentManageSearchItem"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".CashPaymentManageActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".CashOrCardPaymentListItem"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".CardPaymentManageActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ProductDeleteActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ProductDeleteSearchItem"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ProductEditActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".PaymentRefundActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".CustomerEditActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".CustomerEditListItem"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".CustomerDeleteActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".CustomerDeleteListItem"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".MainProductListItem"
                  android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>